body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212;
    color: #fff;
    text-align: center;
}

header {
    padding: 50px;
    background: linear-gradient(45deg, #000, #1e1e1e);
    box-shadow: 0 0 10px rgba(0, 255, 170, 0.7);
}

h1 {
    font-size: 3rem;
    color: #00ffaa;
}

.btn {
    background: #00ffaa;
    padding: 10px 20px;
    text-decoration: none;
    color: #121212;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.galeria .imagens img {
    width: 30%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 170, 0.7);
}
